.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.img-responsive{
    margin: 0 auto;
}

.form-control{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.search-form{
    position:relative;
    top: 5em;
}

.search-input{
    positio:relative;
    top: 1em;
}