.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.img-responsive{
    margin: 0 auto;
}

.form-control{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.search-form{
    position:relative;
    top: 5em;
}

.search-input{
    position:relative;
    top: 1em;
}

@media only screen and (max-width: 768px)  {
    .search-input{
        width: 45%;
        position: relative;
        left:27%;
    }
    button{
        position:relative;
        left:47%;
        top:1em;
    }
}