<head>
  <!-- inject:css -->
  <link rel="stylesheet" href="/dist/css/style.min.css">
  <!-- endinject -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- inject:js -->
  <script src="/dist/js/script.min.js"></script>
  <!-- endinject -->
</head>

<div class="wrapper text-center">
  <img style="" src="img/logo.png">
  <h1>Error in the search</h1>
  <h2>The search for "<%= Query %>" does not have enough answers from one or more Social Network</h2>
</div>
