<!-- bower:css -->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->

<!-- bower:js -->
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->

<!-- inject:css -->
<link rel="stylesheet" href="/css/style.css">
<!-- endinject -->

<!-- inject:js -->
<script src="/js/script.js"></script>
<!-- endinject -->


<h1>Hello</h1>
<div class="search-box">
    <input type="text" name="search">
    <button>Search</button>
</div>