<!DOCTYPE html>
<html>
    <head>
        <!-- inject:css -->
        <link rel="stylesheet" href="/dist/css/style.min.css">
        <!-- endinject -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <!-- inject:js -->
        <script src="/dist/js/script.min.js"></script>
        <!-- endinject -->
        <title>WTF Web Crawler</title>
    </head>
    <section class="search-form">
      <body>
  <div class="container">
    <div class="wrapper text-center">
      <img src="img/logo.png">
      <form action="/crawl" method="POST">
      <div class="input-group">
        <input type="text" name="searchTerm" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn" type="button">SEARCH</button>
      </form>
        </span>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
    </section>

</html>
